* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(23, 80, 202);
}

input {
  width: 40%;
  padding: 10px;
  margin: 20px 0;
}
